html {
  scroll-behavior: smooth;
}

.scroll-lock {
  overflow-y: hidden;
}

/* HAMBURGER */
#drawer {
  opacity: 0;
  right: -100%;
  transition: right 500ms, opacity 300ms;
}

#drawer.open {
  opacity: 1;
  right: 0;
}

.hamburger .line {
  width: 25px;
  height: 2px;
  background-color: #ecf0f1;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.hamburger:hover {
  cursor: pointer;
}

#hamburger-1.is-active .line:nth-child(1) {
  -webkit-transform: translateY(5px) rotate(45deg);
  -ms-transform: translateY(5px) rotate(45deg);
  -o-transform: translateY(5px) rotate(45deg);
  transform: translateY(5px) rotate(45deg);
}

#hamburger-1.is-active .line:nth-child(2) {
  -webkit-transform: translateY(-5px) rotate(-45deg);
  -ms-transform: translateY(-5px) rotate(-45deg);
  -o-transform: translateY(-5px) rotate(-45deg);
  transform: translateY(-5px) rotate(-45deg);
}
/* END */

/* CUSTOM CURSOR */
.cursor {
  width: 14px;
  height: 14px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  animation: cursorAnim 0.5s infinite alternate;
  pointer-events: none;
}

.dark-cursor:hover ~ .cursor {
  background-color: #0A047A !important;
}

@keyframes cursorAnim {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.7);
  }
}

@keyframes cursorAnim3 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.expand {
  animation: cursorAnim3 0.5s forwards;
  border: 1px solid skyblue;
}
/* END */


/* Text Selection */
::-moz-selection{
  color: rgba(147, 197, 253, var(--tw-text-opacity));
}

::selection {
  color: rgba(147, 197, 253, var(--tw-text-opacity));
}
/* END */

/* Text outline */
.text-outline {
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}
/* END */

/* HERE SECTION VIDEO */

/* END */