@tailwind base;
@tailwind components;
@tailwind utilities;

.c-cursor {
  border: 2px solid white;

  contain: layout style size;
  will-change: transform;
}

.strokeheading {
  color: black;
  -webkit-text-fill-color: white;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
